/* css for psychologist account settings */

.profile-pic{
    margin-bottom: 25px;
    position: relative;
	display: inline-block;
    margin-left: 470px;
    margin-right: 470px;

}


.profile-pic:hover .edit {
	display: block;
}

.profile-pic:hover .imgwrap{
    background-color: black;
}

.profile-pic:hover .propic{
    opacity: 0.5;
}

.edit b{
    color: #ffffff;
    text-decoration: underline;
}

.changepp{
    color: #85898c;
}


.edit {
    margin-top: 95px;
    margin-right: 15px;
	padding-top: 7px;	
	padding-right: 7px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
    font-size: 12px;
}

.propic{
    height: 150px;
    width: 150px;
    cursor: pointer;
}


#changeprofpic{
    display: none;
}


/* end of psychologist account settings'
css */



/* css for psychologist profile*/

.savebtn{
    margin-top: 10px;
    float: right;
    margin-bottom: 15px;
    cursor: pointer; 
    font-size: 16px;
    display: none;
}
.txtprof{
    color: #f58c37;
    text-indent: 50px;
}
#about{
    display: none;
    height: 150px;
    
}
.editlink{
    text-decoration: underline;
    font-size: 16px;
    color: #01acbe;
    float: right;
    margin-top:10px;
    margin-right: 10px;
    cursor: pointer; 
    
}

#line{
    margin-top:50px;
}

.license{
    margin-top: 25px;
}

.licenses{
    margin-left: 50px;
    margin-bottom: 70px;
}

.licenseul{
    color: #f58c37;
    
}

.addlicense{
    text-decoration: underline;
    font-size: 16px;
    color: #01acbe;
    margin-left: 35px;
    float: right;

}

#hiddenlicense{
    width: 100%;
    margin-top:10px;
}

#hiddenservice{
    width:100%;
    margin-top:10px;
}

.addbutton{
    float:right;
    margin-bottom: 25px;
}

.specialty{
    margin-top: 25px;
}

.specialtytd{
    color:#f58c37;
}

.addservice{
    text-decoration: underline;
    font-size: 16px;
    color: #01acbe;
    margin-left: 85px;
    float: right;
}

.addservicebutton{
    float: right;
    margin-bottom: 25px;
}


/* end of psychologist profile's css */




/* start of psychology side patient css*/


.currentcontainer{
    margin-left: 50px;
    float:left;
}

#curimg{
    width: 100px;
    height: 100px;
    margin-left: 50px;    
} 



#patname{
    margin-left: 15px;
    margin-top: 15px;
    color:#212834;
}

#patlocation{
    margin-left: 15px;
    color: #212834;
}

.anothernav{
    margin-top: 180px;
    height: 35px;
}

.marghistory{
    margin-right: 25px;
}

.appointmenttbl{
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 15px;
}

.approw{
    font-size: 15px;
}

.stepdesc2{
    color: #f58c37;
}

.tablesesnotes{
    margin-top: 50px;
}
.sesnotesthead{
   color:#f58c37; 
}

.sesnotestbody{
    color:#212834;
}


.tabhistory{
    margin-top: 50px;
}

.h5diary{
    color:#212834;  
}

.adiary{
    color:#01acbe;
    font-size:12px;
    margin-left:15px;
}


.theadhistory{
     color: #f58c37;
}

.theadbody{
     color: #212834;
}

.btnwatchvideo{
     border: 2px solid #f58c37;
     color: #212834;
}



/* end of psychology side patient's css*/ 




/* css for message */
.card-block
{
    overflow-y: scroll;
    height: 250px;
}


::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

/* end of message's css */







/* css for patient appointment */

#patimg{
    width: 100px;
    height: 100px;
    margin-left: 50px;
}

.patapprow{
    margin-bottom: -25px;
}

.mesbtn{
    margin-right:50px;
}

.buttonmodal{
    margin-top: -10px;
}

.contact{
    margin-right: 5px;
}

#btn-chat{
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer; 
}

#docname{
    margin-left: 15px;
    margin-top: 15px;
    color:#212834;
}

#psycho{
    margin-left: 15px;
    color:#212834;
}

#doclocation{
    margin-left: 15px;
    color: #212834;
}

.bookings{
    background: #edeeef;
}


#book{
    margin-left:15px;
}
.stepshapepatient{
	width: 40px;
	height: 40px;
	color: white;
	border-radius: 50%;
	font-size: 30px;
    margin-top: 5px;
    margin-left: 5px;
    font-size: 15px;
}


.history{
    margin-top: 5px;
}

@-webkit-keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
@keyframes hvr-buzz {
  50% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }
  100% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }
}
.hvr-buzz {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-buzz:hover, .hvr-buzz:focus, .hvr-buzz:active {
  -webkit-animation-name: hvr-buzz;
  animation-name: hvr-buzz;
  -webkit-animation-duration: 0.15s;
  animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.hvr-buzz{
    margin-top: 5px;
}


.tab{
		display: table;
		width: 100%;
	}

.patapptr{
		display: table-row;
		padding: 10px;
        
		
}

.patapptc{
		display: table-cell;
		padding: 20px;
        border-bottom: 1px solid;

}

.addbooktc{
    display: table-cell;
    padding: 20px;
}

.sendmsg{
    display: table-cell;
}


/* End of patient appointment's css */





/* Start of  psychmessage's css */

.nt{
    margin-left: 15px;
    margin-right: 15px;
    
}


.newtext2{
    background: #edeeef;
    margin-left: 15px;
    margin-top: 25px;
    margin-right: 15px;
    
}

.newtext2:hover{
    background: #b7b7b7 ;
}

.cont1{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;

}

.rowcol{
    margin-top: 15px;
}

.strong{
    color: #212834;
    margin-top: 50px;
    
}

.newpar{
    font-size: 12px;
    color: #212834;
    
}

.txtd{
    color: #f58c37;
}

.txtdd{
    color: #f58c37;
    font-size: 12px;
}

.h6str{
    color: #212834;
}

.txtp{
    font-size: 12px;
    color: #212834;
    
}

/* End of psychmessage's css*/






/* Start of psychnewmessage's css*/

.sendernewimg{
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-right: 10px;
}

.insideimg{
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.insideimg2{
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.insidecard{
    margin-top: 10px;
}


.pmsg{
    font-size: 16px;
    color: #ffffff;
    margin-right: 10px;
}

.pmsg2{
    font-size: 16px;
    color: #ffffff;
    margin-left: 10px;
}


.dtime{
    margin-top: 15px;
    margin-left: 15px;
}

.dtime2{
    margin-top: 15px;
    margin-right: 15px;
}

.insidetime{
    font-size: 12px;
    float: left;
}

.insidetime2{
    font-size: 12px;
    float: right;
}

.spcng{
    margin-top: 5px;
}


.spcng:hover{
   color: #f58c37;
}

#btn-attach{
    cursor: pointer; 
}


/* End of psychnewmessage's css*/



/*(Psychologist side) Start of patients' css*/

.forform{
    margin-left:380px;
    margin-right:350px;
    margin-bottom:25px;
}
.char{
    padding-top: 18px;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.char:hover{
     -webkit-transform: scale(1.3);
	transform: scale(1.3);
    
}

.patientimg{
    width: 120px;
    height: 120px;
   
}

.btnsearchpat{
    cursor: pointer; 
}


#forsearch{
    width: 600px;
    margin-right: 15px;
}

#forrecents{
    text-decoration: underline;
    margin-left: 25px;
    color: #808080;
    margin-bottom: 50px;
}

.contforpatient{
    margin-left: 180px;
    margin-right: 200px;
    margin-bottom: 25px;
}

/* End of patients' css */


/* Start of patient diary's css */

.diarybtn{
    margin-bottom: 10px;
    margin-left: 2x;
    width: 180px;
    height: 50px;
    margin-top:5px;
}

 .navdiary{
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
     
}

.diarytr{
		display: table-row;
		padding: 5px;
        
		
}
.diarytc{
    display: table-cell;
    padding: 10px;
}

.sendcontent{
    display: table-cell;
}



/* End of patient diary's css*/


/* Start of patient wallet's css */

#summary{
    margin-right: 25px;
}

.sumrow{
    margin-bottom: 50px;
}

.btnsummary{
    width: 150px;
}

.sumtable{
   border-bottom: 1px solid; 
   border-bottom-color: #edeeef;
   margin-bottom: 25px;
}

.summarythead{
   color:#f58c37; 
}

.summarytbody{
    color:#212834;
}

.txtdiary{
     margin-top: 25px;
     font-size: 16px;
     text-indent: 50px;
     margin-right: 25px;
}

.doccomment{
    max-width: 50rem;
    margin-top: 100px;
    margin-left: 5px;
}

.chead{
    font-size: 16px;
}

.cbody{
    font-size: 14px;
}

.printing{
    float: right;
}

.charchar{
    float: right;
    margin-left: 10px;
}



/* End of patient wallet's css*/



/* Start of psychologist ecounseling's css*/

#wrapper {
    width: 300px;
    padding-left: 0;
    margin-top: -390px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 0;
    height: 100%;
    margin-right: -250px;
    overflow-y: auto;
    background: #edeeef;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}




.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#h6{
    color: #212834;
    margin-top: 20px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.name{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #212834;
}

.time{
    font-size: 14px;
    margin-bottom: 25px;
    color: #f58c37;
}

#duration{
    margin-left: 25px;
    margin-top: 25px;
}

@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
          
    
}

.ecounseling{
    height: 250px;
    width: 250px;
    margin-right: 100px;
    margin-bottom: 15px;
    margin-top: 30px;
}

 .txtsuc{
    font-size: 20px;
    margin-right: 98px; 
    }

.btnec{
    margin-top: 15px;
    margin-right: 95px;
}

#forpat{
    text-decoration: underline;
    margin-left: 25px;
    color: #808080;
    margin-bottom: 50px;
    
}

.forformpsych{
    margin-left:380px;
    margin-right:350px;
    margin-top: 35px;
}

#forsearchpsych{
    width: 600px;
    margin-right: 15px;
    margin-top: 500px;
}

.boxpsych{
    margin-top: 50px;
    width: 590px;
    height: 400px;
    background: #85898c;
    margin-bottom: 25px;
    margin-left: 15px;
}

.videocardpsych{
    background: #edeeef;
    margin-left: 15px;
    max-width: 92%;
}

.modalvideo {
    max-width: 70%;
    max-height: 60%;
    
}

.forvidnotes{
    float:left;
    margin-top: 50px;
    width: 280px;
    height: 700px;
    margin-right: 15px;
}

.vidcontainer{
    overflow: hidden;
}

.savesnotes{
    margin-top: 10px;
    cursor: pointer; 
}

/* End of psychologist ecounseling's css */




/* Start of patient ecounseling's css*/

.ecounselingp{
    height: 250px;
    width: 250px;
    margin-bottom: 5px;
    margin-top: 30px;
}

 .txtsucp{
    font-size: 20px;
    }

.btnecp{
    margin-top: 15px;
}

.m {
    max-width: 65%;
    max-height: 80%;
}

.box{
    margin-top: 50px;
    width: 775px;
    height: 450px;
    background: #85898c;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.videocard{
    background: #edeeef;
}

#psychologists{
    text-decoration: underline;
    margin-left: 25px;
    color: #808080;
    margin-bottom: 50px;
}

.contforpsych{
    margin-left: 180px;
    margin-right: 200px;
    margin-bottom: 25px;
}

#durationpat{
    margin-left: 25px;
    margin-top: 25px;

}

/* End of patient ecounseling's css*/
.wowo{
    float: left;
    display: block;
    margin-right: 10px;
    border-bottom:0;
    border-right: 1px solid #ddd;
}

.forlink{
    margin-bottom: 15px;
    padding-right: 50px;
    padding-left: 10px;
}

.diarybtn{
    margin-bottom: 10px;
    margin-left: 10px;
}

.forlink:hover{
    background: #01acbe;
}

.forlink:active{
    background: gray;
}
/* End of patient diary's css*/

/* Patient Diary Edit */
.containerdiary{
    display: inline-flex;
}

.diary1{
width: 250px;
margin-right: 50px;
margin-left:50px;
margin-top:50px;
}

.diary2{
width: 750px;
margin-top:50px;
}

.insidediarycard{
    margin-top: 10px;
}

.navdiary{
    width: 232px;
}
/* End of Patient Diary Edit */


/* New psychounseling */

.forpsychcounsel{
    display: inline-flex;
    margin-top: 20px;
}

.newtxtmsg{
 width: 800px;
 margin-top:50px;
 margin-right: 70px;
 margin-left: 25px;

}

.upcomingcounseling{
    margin-left: 80px;
    margin-right: 25px;
    width: 350px;
    margin-top:50px;
    
}

.imgforlist{
    width: 50px;
    height: 50px;
}

.containercounseling1{
  margin-left: 25px;
  width: 420px;

}

.containercounseling2{
  margin-right: 25px;
  width: 850px;
  
}

.divforsearch{
    border-bottom: 1px solid rgb(221, 221, 221);
    margin-right: 1px;
    margin-left:2px;
}

.divforsearch:hover{
    background: #eeeeee;
}

.insidecontent{
    height: 500px;
}

.insidecontent2{
    height: 532px;
}

.cardmsg{
    width: 800px;
    margin-left: 25px;

}

.diarycontainer{
    margin-left: 25px;
    margin-right: 25px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active2, .accordion:hover {
    background-color: #ccc; 
}

.accordion:after {
    content: '\21E3';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active2:after {
    content: "\21E1";
}
.panell {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}
    
/* End of new psychounseling */