html{
	margin: 0xp !important;
}

body{
	height: 100vh;
}

.navbarlogo{
	height: 1.8em;
	
}
.cover{
	background: url("/images/cover.jpg");
	height: 100vh;
	width: 100%;
	background-color: black;
	background-size: cover;
	background-position: center center;
}
.indexheader{
	margin-top: 300px
}

.home-head{
	padding-top: 350px;
	font-size: 30px;
	text-shadow: 1px 1px 1px #000000;
}
.txtsearch{
	width: 30em;
}

.txtinput{
	height: 50px;
}

.aboutcover{
	height: 450px;
	background: url("/images/aboutcover.jpg") no-repeat;
	background-color: black;
	background-size: cover;
	background-position: center center;
}

.aboutheader{
	padding-top: 30px;
	font-size: 35px;
	text-shadow: 1px 1px 1px #000000;
}

.stepshape{
	width: 80px;
	height: 80px;
	color: white;
	border-radius: 50%;
	font-size: 30px;
}

.stepdesc{
	text-shadow: 1px 1px 1px #000000;
}

.footertxt{
	padding: 5px;
}

.dropdown-toggle::after {
    display:none;
}

.notif-item{

}
.notif-img{
	border-radius: 50%;
	height: 50px;
}
.notif-dropdown{
	width: 300px;
}
.notif-cont{
	display: inline-flex;
	width: 100%;
	border-radius: 5px;
}
.notif-detail{
	white-space:normal !important;
	padding: 10px;
}
.notif-imgcont{
	padding: 10px;
}

.nav-link{
	cursor: pointer;
}
.mynavbar{
	z-index: 9999;
}

.sidebarwrapper{
	display:inline-flex;
}

#mCSB_1:focus, .mCSB_container:focus{
   outline:0 !important;
}

.leftsidebar{
	position: fixed;
	right: 0;
	height: 100vh;
	background-color: #fefefe;
	width: 300px;
	-webkit-box-shadow: -4px 0px 37px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: -4px 0px 37px -8px rgba(0,0,0,0.75);
	box-shadow: -4px 0px 37px -8px rgba(0,0,0,0.75);
	padding: 20px;
}

.appcont{
	display: inline-flex;
}

.apphead{
	font-size: 20px;
	font-weight: bold;
}

.legend{
	font-size: 15px !important;
	text-indent: 10px !important;
}
li.legend{
	width:100%;
}

.close{
	cursor: pointer;
	margin-top: 20px;
}

.appic{
	height: 30px;
	border-radius: 50%;
}

.btnavail{
	margin: 10px;
}

.daystrip{
	width: 100%;
	height: 3.75px;
	margin-top: 60px;
}

.daystripcont{
	width: 100%;
	height: 90px;
	position: absolute;
	top: 0;
	background-color: #ddd;
	z-index: -5;
}

ul,li{
	list-style-type: none;
}

.pointer{
	cursor: pointer;
}

.hide{
	display: none !important;
}

.table{
	display: table;
	width: 100%;
}

.tablerow{
	display: table-row;
	width: 100%;
}

.tablecell{
	display: table-cell;
}
.signup{
	margin-top: 2em;
	font-size: 13px;
}
input[type="radio"]{
	margin-left: 2em;
}
.register-form input{
    border-radius: 0px;
}
.signup-notes{
	color: #ffffff;
	padding: 30px;
	font-size: 14px;
}
.register-css{
	background-color: #ffffff;
	padding: 30px;
}
.btn-admin{
	margin:1em;
}

.adduser input{
	border-radius: 0px;
}
.nav-psych{
	margin: 2em;
}
thead{
	color: #ffffff;
}
.adminpatient{
	margin-top: 2em;
}
h5{
	margin-top: 1em;
}
